* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: neue-haas-unica, Helvetica, sans-serif;
    color: #000;
}

a {
    text-decoration: none;
}

body {
    max-width: 100vw;
}

.wrapper-content {
    padding: 0 7vw;
}

.homepage, #about {
    min-height: 100vh;
}

/* ------------------- navigation ----------------- */

nav ul {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: row;
    margin: 30px 3vw 0 0;
    list-style-type: none;
    z-index: 2;
}

nav ul li:first-child, 
nav ul li:nth-child(2) {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #95BA9E;
    padding: 6px 30px;
}

nav ul li a:hover {
    background-color: #47778E;
    }

/* ------------------- homepage ----------------- */

h1 {
    position: relative;
    top: 22vh;
    font-size: 6.8rem;
    line-height: 10rem;
    /* display set to inline block so that its red border won't take full width of page */
    display: inline-block;
    border-bottom: 6px solid #DB4D44;
    padding-bottom: 25vh;
}

.subtitle {
    display: block;
    font-size: 2.4rem;
    line-height: 4.2rem;
}

/* ------------------- about page ----------------- */

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; /* so that about-text and photo are aligned  */
}


h2 {
    color: #DB4D44;
    font-size: 3.5rem;
    padding: 80px 0 40px 0;
}

.about p {
    padding-bottom: 20px;
}

.about-title {
    /* overwriting because this title has slightly different padding than other h2s */
    padding-bottom: 30px; 
}

p {
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 500;
    width: 50vw;
    margin-right: 3vw;
}

.photo-rosa {
    max-width: 35%;
    width: auto;
    height: auto;
    margin-top: 15px;
}

/* ------------------- projects page ----------------- */

.projects-title {
    margin-left: 29.5vw;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
}

.projects {
    position: relative;
    height: 27vw;
    width: 27vw;
    margin-bottom: 2.5vw;
}

.project-images {
    position: relative;
    background-image: url(plant.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border: 25px solid #9FBDCC;
}

/* this places an invisible (opacity: 0) black block on top of the images that becomes visisble on hover */

.project-image-selected {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
}

.project-titles {
    position: absolute;
    white-space: nowrap;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px 30px;
    opacity: 0;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.project-images:hover + .project-titles {
    opacity: 1;
}

.project-images:hover {
    border: 25px solid #4E85A0;
}

.project-images:hover .project-image-selected {
    opacity: 0.5;
}

.project-titles:hover {
    opacity: 1;
}

.project-titles:hover ~ .project-image-selected {
    opacity: 1;
}

/* ------------------- contact page ----------------- */

#contact {
    margin-left: 59vw;
}

#contact {
    height: 50vh;
}

.contact-title {
    padding-bottom: 30px;
}

.container-icons {
    width: 26vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5vh 0 10vh 0;
}

.email-address {
    text-decoration: underline;
    font-size: 1.5rem;
    font-weight: 500;
}

.icon, .icon-link {
    width: 43px;
    margin-right: 35px;
}

@media only screen and (max-width: 950px) {
    html {
        font-size: 82%;
    }
    h1 {
        padding-bottom: 30vh;
    }
    .about-container {
        flex-direction: column;
    }
    .about-container p {
        width: 100%;
    }
    .photo-rosa {
        max-width: 100%;
    }
    .projects-container {
        flex-wrap: wrap;
    }
    .projects {
        width: 41vw;
        height: 41vw;
    }
    .projects-title {
        margin-left: 45vw;
    }
    #contact {
        margin-left: 0;
    }
  }

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 6.2rem;
        padding-bottom: 35vh;
    }
    .subtitle {
        font-size: 2.2rem;
    }
    nav ul {
        z-index: 2;
        left: 7vw;
        right: 7vw;
        justify-content: space-between;
    }
    nav ul li a {
        font-size: 1.8rem;
    }
    html {
        font-size: 70%;
    }
    .about-container {
        flex-direction: column;
    }
    .about-container p,
    .about-container img {
        width: 100%;
    }
    .photo-rosa {
        max-width: 100%;
        margin: 40px 0 80px;
        height: auto;
    }
    .projects-container {
        flex-direction: column;
    }
    .projects {
        width: 86vw;
        height: 86vw;
    }
    .projects-title {
        margin-left: 0;
    }
    .project-titles {
        font-size: 2rem;
    }
  }
